body {
    background-image: url("../images/Homepage\ Backgound\ Desktop.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   }


.navigation {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #F9F9F9;s
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding:10px;
    position: fixed;
    z-index: 1 !important;
    }

.challenge-nav {
    background-color: #b5f9f3;
    border: none;
    width: 95%;
    color: black;
    padding: 15px 32px;
    border-radius: 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}    

.wellness-nav {
    background-color: #17bebb;
    border: none;
    width: 95%;
    color: black;
    padding: 15px 32px;
    border-radius: 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}    

