.navigation {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #F9F9F9;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding:10px;
    position: fixed;
    z-index: 1 !important;
    }

    body {
        background-image: url("../images/Background.png");
        background-color: #cccccc;
        background-size: contain;
        background-repeat: no-repeat;
       }