body{
    background-image: url(../images/profile_background.png);
    background-size: 101%;
    background-repeat: no-repeat;
    font-family: varela, sans-serif;
}

.subheadcopycolumn2{
    text-align: center;
    font-size: 28pt;
}

.profile{
    text-align: center;
    font-size: 42pt;
}